<div class="LYAF-side-bar">
    <div class="LYAF-side-bar-header">
        <span class="LYAF-side-bar-title text-uppercase font-weight-bold">Dasboard</span>
        <i class="fas fa-bars"></i>
    </div>
    <div class="LYAF-side-bar-menu">
        <div class="LYAF-admin-menu LYAF-menu">
        </div>
        <div class="LYAF-user-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-users icon"></i>
                <span class="title">Account</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <a href="/manager/account">
                        <i class="fas fa-circle icon"></i>
                        <span class="title">List of Accounts</span>
                    </a>
                </div>
                 <div class="LYAF-menu-option">
                    <a href="/manager/account/add">
                        <i class="fas fa-circle icon"></i>
                        <span class="title">Add New Account</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="LYAF-product-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fas fa-receipt icon"></i>
                <span class="title">Comment</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <a href="/manager/comment">
                        <i class="fas fa-circle icon"></i>
                        <span class="title">Comment Manager</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="LYAF-product-menu LYAF-menu">
            <div class="LYAF-menu-header">
                <i class="fab fa-product-hunt icon"></i>
                <span class="title">Post</span>
                <i class="fas fa-chevron-right end"></i>
            </div>
            <div class="LYAF-menu-content">
                <div class="LYAF-menu-option">
                    <a href="/manager/post">
                        <i class="fas fa-circle icon"></i>
                        <span class="title">List of Posts</span>
                    </a>
                </div>
                <div class="LYAF-menu-option">
                    <a href="/manager/post/add">
                        <i class="fas fa-circle icon"></i>
                        <span class="title">New Post</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
 {{!-- Dashboard body --}}
    <div class="LYAF-dasboard-body">
        <div class="LYAF-dashboard-header">
            <span class="text-uppercase font-weight-bold">LIST OF COMMENTS</span>
        </div>
        <div class="comList">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Post</th>
                      <th scope="col">Purpost</th>
                    <th scope="col">Options</th>
                   
                    </tr>
                </thead>
                <tbody id="com-tbody">                   
                    {{#each com}}
                    <tr class="com-row" id="{{this._id}}">
                        <td class="com-name">{{this.name}}</td>
                        <td class="com-post">{{this.postname}}</td>
                         <td class="com-purport">{{this.purport}}</td>
                        <td class="post-options">
                            <button type="button" class="btn btn-danger com-delete" id="{{this._id}}" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </td>
                    </tr>
                    {{/each}}
                    {{#if empty}}
                    <tr class="com-row">
                        <td><p>List is Empty !.</p></td>
                      
                     </tr>   
                    {{/if}}
              
                   
                </tbody>
                </table>
        </div>
                 
    </div>
    {{!-- End Dashboard body --}}
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger deletecomaccept">Delete now</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/manager.js"></script>