	<header class="tm-header" id="tm-header">
        <div class="tm-header-wrapper">
            <button class="navbar-toggler" type="button" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="tm-site-header">
                <div class="mb-3 mx-auto tm-site-logo"><i class="fas fa-laptop-code"></i></div>            
                <h1 class="text-center">IT Blog</h1>
            </div>
            <nav class="tm-nav" id="tm-nav">            
                <ul>
                    {{#if boss}}
                    <li class="tm-nav-item"><a href="#" class="tm-nav-link">
                        Welcome to IT Blog
                    </a></li>
                    {{/if}}
                    {{#ifEquals boss 1}}
                     <li class="tm-nav-item"><a href="/manager/post" class="tm-nav-link">
                        <i class="fas fa-clipboard-list"></i>
                        Manager
                    </a></li>
                      {{/ifEquals}}
                    <li class="tm-nav-item active"><a href="/" class="tm-nav-link">
                        <i class="fas fa-home"></i>
                        Blog Home
                    </a></li>
                    <li class="tm-nav-item"><a href="/about" class="tm-nav-link">
                        <i class="fas fa-users"></i>
                        About me
                    </a></li>
                    <li class="tm-nav-item"><a href="/contact" class="tm-nav-link">
                        <i class="far fa-comments"></i>
                        Contact me
                    </a></li>
                    {{#if boss}}
                    <li class="tm-nav-item"><a href="/logout" class="tm-nav-link">
                        <i class="fas fa-key"></i>
                        Log out
                    </a></li>
                    {{/if}}
                    {{#ifEquals boss 0}}
                    <li class="tm-nav-item"><a href="/login" class="tm-nav-link">
                        <i class="fas fa-key"></i>
                        Log in
                    </a></li>
                  {{/ifEquals}}
                     
                    
                    
                </ul>
            </nav>
        </div>
    </header>
    <div class="container-fluid">
        <main class="tm-main">           
            <div class="row tm-row">
                {{#each posts}}
                    <article class="col-12 col-md-6 tm-post">
                        <hr class="tm-hr-primary">
                        <a href="/post/{{this._id}}" class="effect-lily tm-post-link tm-pt-60" id="{{this._id}}">
                            <div class="tm-post-link-inner">
                                <img src="{{this.img}}" alt="Image" class="img-fluid">                            
                            </div>
                            {{!-- <span class="position-absolute tm-new-badge"></span> --}}
                            <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{this.name}}</h2>
                        </a>                    
                        <p class="tm-pt-30">
                            {{this.desc}}
                        </p>
                        <div class="d-flex justify-content-between tm-pt-45">
                        </div>
                        <hr>
                    </article>
                {{/each}}
            </div>
            <div class="row tm-row tm-mt-100 tm-mb-75">
                <div class="tm-prev-next-wrapper">
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                    <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
                </div>
                <div class="tm-paging-wrapper">
                    <span class="d-inline-block mr-3"></span>
                    <nav class="tm-paging-nav d-inline-block">
                        <ul>
                            <li class="tm-paging-item active">
                                <a href="#" class="mb-2 tm-btn tm-paging-link">1</a>
                            </li>
                        </ul>
                    </nav>
                </div>                
            </div>            
            <footer class="row tm-row">
                
            </footer>
        </main>
    </div>
    <script src="/js/templatemo-script.js"></script>
